
p {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#contato{
    height: 50;
}
.icones {
    padding-left: 5px;
}

.titulosBrancos {
    text-decoration: underline;
    text-underline-position: under;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.titulosVerdes {
    text-decoration: underline;
    text-underline-position: under;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #18bc9c
}
.cor-secondaria{
    background-color: aliceblue;
}

.paragrafoBrancos {
    color: white !important;
}


.jumbotron {
    padding-top: 150px;
    padding-bottom: 120px;
}

html {
    scroll-behavior: smooth;
}

p {
    color: black !important;
}

.corPrimaria {
    background-color: #18bc9c;
}

.itemMenu {
    color: white;
}
.navbar{
    position: fixed;
    z-index: 1;
    width: 100%;
}
#mostruario{
    padding: 80px;
}